<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="script.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script type="text/javascript" src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
	<title>Products</title>
</head>
<body ng-app="myApp" ng-controller="GreetingController"> 
	<div class="container">
		<div class="row">
			<h2>Products</h2>
			<table class="table-striped">			
				<tr>
				    <th>Name</th>
				    <th>Price</th>		
				    <th>Basket</th>		    
				</tr>
				<tr ng-repeat="product in products">
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
					<td><button class="basket-button" ng-click="addProduct(product)">Add to basket</button></td>
				</tr>
  			</table>
		</div>
		<a class="basket" type="button" href="basket.html">Basket</a>
	</div>	
</body>
</html>