body{
	overflow: hidden;
}
table{
	width: 100%;
}
table td {
	width: 33%;
	text-align: center;
}
table th {	
	text-align: center;
}
.basket-button{
    color: white;    
    border: none;
    border-radius: 5px;
    background-color: #6ccaaf;
    cursor: pointer;  
}
.basket{
	margin-left: -15px;
    height: 40px;
    margin-top: 20px;
    padding: 8px;
    background-color: #184ab5;
    color: white;
    text-decoration: none;
}
.remove{
	color: red;   
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}